<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
</head>
<body>
    <h1>Iniciar Sesión</h1>
    <form method="post" action="/api/sessions/login">
        <!-- Formulario de inicio de sesión aquí -->
    </form>
</body>
</html>
