<!DOCTYPE html>
<html>
<head>
    <title>Productos</title>
</head>
<body>
    <h1>Bienvenido, {{user.first_name}} {{user.last_name}}</h1>
    <!-- Contenido de la página de productos aquí -->
    <a href="/api/sessions/logout">Cerrar Sesión</a>
</body>
</html>
